@tailwind base;

@tailwind components;

@tailwind utilities;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Eras;
    src: url("./resources/itc-eras-std-demi.otf");
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: Eras;
    @apply bg-blue-500
}